---
---
<!DOCTYPE html>
<html>
<head>
    <title>Variable Sheets</title>
    <style>
        pre {
            display: none;
        }
    </style>
</head>

<body>

<p>Last updated: {{ site.time | date: "%B %-d %Y %R" }}</p>

<h2>Feasts</h2>

{% for feast in site.feasts %}

<p>
    <a href="{{ feast.url | prepend: site.baseurl }}">{{ feast.title }} - {{ feast.when }}</a>
</p>

{% endfor %}

<h2>Sunday Variable sheets</h2>

{% for post in site.posts %}

<p>
    <a href="{{ post.url | prepend: site.baseurl }}">{{ post.date | date: "%B %-d, %Y" }} - {{ post.title }}</a>
</p>

{% endfor %}

</body>
</html>
