---
---
<html>
<head>
    <title>{{ site.title }}</title>
</head>

<body>

<p>Last updated: {{ site.time | date: "%B %-d %Y %R" }}</p>

<h2>Variable sheets</h2>

{% for post in site.posts %}

<p>
    <a href="{{ post.url | prepend: site.baseurl }}" target="_blank">{{ post.date | date: "%B %-d, %Y" }} - {{ post.title }}</a>
</p>

{% endfor %}

<h2>PDFs</h2>

<p>Click a link below to view/download a PDF for the matching date.</p>

{% for item in site.static_files %}
{% if item.extname == '.pdf' %}

<p><a href="{{ item.path | prepend: site.baseurl }}">{{ item.path | remove:'/pdfs/' | remove:'.pdf' }}</a></p>

{% endif %}
{% endfor %}

</body>
</html>
