<!DOCTYPE html>
<html>
<head>
    <title>Feast of {{ page.title }}</title>
    <link rel="stylesheet" href="{{ site.baseurl }}/style.css">
</head>
<body>
<div id="wrap">

    {% capture header_include %}{% include header-feast.md %}{% endcapture %}
    {{ header_include | markdownify }}

    <hr>

    {% if page.orthros %}
    <section>
        <h3 class='caps service'>Orthros</h3>
        {% capture orthros_include %}{% include orthros.md %}{% endcapture %}
        {{ orthros_include | markdownify }}
    </section>
    {% endif %}

    <section class="right">
        <h3 class='caps service'>Divine Liturgy</h3>
        {% capture liturgy_include %}{% include liturgy.md %}{% endcapture %}
        {{ liturgy_include | markdownify }}
    </section>

</div>
</body>
</html>
